@font-face {
    font-family: "Italico";
    src: url(../desafio-cartao-blog/assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: "figtree";
    src: url(../desafio-cartao-blog/assets/fonts/Figtree-VariableFont_wght.ttf);
}
*{
    margin: 0;
    text-decoration: none;
    padding: 0;
}
body{
    background-color:  hsl(47, 88%, 63%);
}